{box-sizing: border-box;}

@font-face{
	font-family: 'manticore';
	src: url('fonts/Manticore.ttf') format('truetype');
}
body{
	display: grid;
	grid-template-areas:"filler hd title     title      filler2"
											"filler hd title2    title2     filler2"
											"filler hd section_l section_d  filler2"
											"filler hd section_f section_s  filler2"
											"filler ft ft        ft         filler2";
	grid-template-columns: 1fr 0.5fr 1.5fr 1.5fr 1fr;
	grid-gap: 15px;
}


#filler{
	grid-area: filler;
	visibility: hidden;
}

#filler2{
	grid-area: filler2;
	visibility: hidden;
}


header{
	grid-area:hd;
	display: flex;
	flex-direction: column;
	position: sticky;
	top:0;
	text-align: center;
	background-color:#05386B;
	color: #fff;

}

header img{
	align-self: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

header input{
	display: none;
}

ul{
	padding: 0%;
	margin: 0%;
}

nav ul li{
	font-size: 40px;
	list-style: none;
	padding: 10px;
	margin-bottom: 10%;
	margin-top: 10%;
	font-family: 'manticore';
}

a{
	color: inherit;
	text-decoration: none;
}

nav ul li:hover{
	background-color: #5CDB95;
	color:#000;
}

h1{
	grid-area: title;
	text-align: center;
	margin:0%;
	margin-top: 1%;
	padding:0%;
	font-family: 'manticore';
	font-size: 50px;
}

#title2{
	grid-area:title2;
	text-align: center;
	color: #000;
	font-family: 'manticore';
	font-size: 30px;
}

h2{
	padding: 0px;
	margin:0px;
	color: #fff;
}

section{
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	text-align: left;
	color:#fff;
	font-family: 'manticore';
	text-align: center;
}

#section_l{
	grid-area: section_l;
	background-image: url("images/lo-fi-banner.jpg");
}

#section_l section{
	margin-top:90%;
	padding:6%;
	padding-top: 3%;
	background-color: #000;
	opacity: 0.9;
}

#section_d{
	grid-area: section_d;
	background-image: url("images/dark_souls.jpg")
}

#section_d section{
	margin-top:90%;
	padding:6%;
	padding-top: 3%;
	background-color: #000;
	opacity: 0.9;
}

#section_f{
	grid-area: section_f;
	background-image: url("images/ftl.jpg")
}

#section_f section{
	margin-top:90%;
	padding:6%;
	padding-top: 3%;
	background-color: #000;
	opacity: 0.9;
}

#section_s{
	grid-area: section_s;
	background-image: url("images/spider.jpg")
}

#section_s section{
	margin-top:90%;
	padding:6%;
	padding-top: 3%;
	background-color: #000;
	opacity: 0.9;
}



a{
	color: inherit;
	text-decoration: none;
}

footer{
	grid-area: ft;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	z-index: 2;
	font-family: 'Open Sans', sans-serif;
	grid-area:ft;
	font-size: 10px;
	background-color: #9edbfa;
	margin-top:3%;
}
footer div{
	display: flex;
	flex-direction: column;
	align-items: center;

}

footer p{
	margin-right: 15px;
	font-size: 15px;
}

footer #quick-commands{
	display: flex;
	flex-direction: row;
}

footer li{
	padding:10px;
	padding-right: 60px;
	list-style-type: none;
}
